distro
Pillow
psutil
pyscreenshot
python-telegram-bot==13.10
google-generativeai
pytz
SQLAlchemy
tzlocal
standard-imghdr
urllib3<2
six
setuptools<72
pyperclip
opencv-python
GPUtil
pyautogui
pycaw
screeninfo